body{
    background-color: aquamarine;
}

h1{
    background-color: blue;
    text-align: center;
}
p{
    text-align:justify;
}
div:hover{
    color: red;
   }
   div > p{
    display: none;
   }
   div:hover > p{
    display: block;
    color: black;
    background-color: red;
    width: 200px;
   }
div.d3{
    display: inline-block;
    background-color: lightgray;
    text-align: center;
    width: 200px;
    height: 200px;
    color: black;
}
div.d3:hover{
    background-color: yellow;
}
